*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #F5F5F5;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.5;

}

.container{
    max-width: 1100px;
    margin: 0 auto;
    height: 700px;
    
} 

h1{
    color: blue;
    font-size: 50px;
}


.facebook{
    display: flex;
    justify-content: space-evenly;
    margin-top: 150px;
    
}

.facebook p{
    font-size: 30px ;
    line-height: 1;
}

form{
    padding: 15px 15px ;
    box-shadow: 5px 10px 20px grey ;
    width: 400px;
    height: auto;
    border-radius: 5px;
} 

input{
    padding: 15px;
    border-radius: 5px;
    border-width: 0px;
    margin-bottom: 10px;
    width: 100%;
}


button{
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    font-size: 16px;
    color: white;
    background-color: blue;
    border-radius: 10px;
    border-width: 0;
}

.create-account{
    width: 50%;
    padding: 15px;
    margin-bottom: 20px;
    font-size: 16px;
    color: white;
    background-color: green;
    border-radius: 10px;
    border-width: 0;
    margin-left: 100px;
}
